.navbar-fixed-top {
  @extend .animated, .slideInDown;
}

.navbar-inverse {
  i.fa { color: rgb(255,255,255); }
}

.navbar-nav li a, .navbar-link {
  color: white;
  text-transform: uppercase;
  //font-weight: bold !important;
}

hr.v-separator {
  @extend .mg-x;
  box-sizing: border-box;
  border-top: 1px solid rgb(65, 150, 69);
  border-bottom: 1px solid rgb(94, 183, 97);
}

//a.navbar-link { font-weight: bold; }